@import "icons";
@import "colors";
@import "fonts";
* {
  margin: 0;
  padding: 0;
}

header {
  font-family: 'terminal dosis', sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7.5rem 0 7.5rem;
  height: 4rem;
  transition: padding .5s ease;
  >a {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    text-decoration: none;
    color: $dpsg_blue;
    >img {
      height: 3rem;
    }
    >span{
      font-size: 1.5rem;
    }
  }
  >nav {
    >ul {
      list-style: none;
      display: inline-flex;
      column-gap: 1rem;
      font-size: 1.25rem;
      >li{
        >a{
          color: $dpsg_blue;
          text-decoration: none;
        }
      }
    }
    >#closeMenu {
      display: none;
    }
  }
  >#openMenu {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  header{
    padding: 0 3.725rem 0 3.725rem;
    >nav{
      padding-top: 5rem;
      background-color: green;
      position:absolute;
      top:0;
      left:100%;
      width:100%;
      height:100%;
      transition: transform .5s ease-in-out;
      >ul {
        display: flex;
        flex-direction: column;
        >li>a{
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;

        }
      }
      >#closeMenu {
        display: block;
        cursor: pointer;
        position: relative;
        padding: 20px;
      }
    }
    >#openMenu{
      display: block;
      cursor: pointer;
      padding: 20px;
      >.gg-menu{
        transform: scale(1.5);
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  header>a>span {
    display: none;
  }
}